<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - portfolioASP.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portfolioASP.NET.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="d-flex justify-content-between">
                <a href="/" title="Homepage">
                    <p class="logo d-none d-md-block animate-logo" asp-area="" asp-controller="Home" asp-action="Index">Alexandra Hockett</p>
                </a>
                <ul>
                    <li>
                        <a href="/" title="Homepage">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutMe" title="About Alexandra Hockett">About me</a>
                    </li>
                    <li>
                        <a href="/Home/Projects" title="Projects of Alexandra Hockett">Projects</a>
                    </li>
                    <li>
                        <a href="/Home/Contact" title="Contact Alexandra Hockett">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
            @RenderBody()
    <footer>
        <div class="container">
            <div class="contact-box d-flex justify-content-between mb-5 d-none d-md-flex">
                <div>
                    <h3>Work Inquiry</h3>
                    <p class="text-muted">Let's work together</p>
                </div>
                <div>
                    <a href="contact.html"
                       class="btn btn-branding mt-3"
                       title="Contact Alexandra Hockett">Contact me</a>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <a href="mailto:alexandramandio@gmail.com"
                   class="email-link"
                   title="Email Alexandra Hockett">
                    alexandramandio@gmail.com
                </a>
            </div>
            <div class="social-links d-flex justify-content-center mb-5">
                <a href="https://www.linkedin.com/in/alexandra-hockett/"
                   target="_blank"
                   title="LinkedIn Profile">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/AlexandraHockett"
                   target="_blank"
                   title="GitHub Profile">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.twitter.com/alexandrahocke3"
                   target="_blank"
                   title="Twitter Profile">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <p class="text-center mt-5">
                This project was coded by Alexandra Hockett, and it is
                <a href="https://github.com/AlexandraHockett/Portfolio-project"
                   target="_blank"
                   class="openSourced">
                    open-sourced
                </a>
                <img src="https://i.ibb.co/7YYnxZ9/minnie-Coder.gif" width="30" alt="minnieCoder" />
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/1fc79b6bb9.js"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
