@{
    ViewData["Title"] = "Contacts";
}
<div class="content-container container">
    <div class="content">
        <h1 class="mb-4">Let's get in touch!</h1>
        <h3>Email</h3>
        <p>
            <a href="mailto:alexandramandio@gmail.com">alexandramandio@gmail.com</a>
        </p>
        <h3>Twitter</h3>
        <p>
            <a href="https://www.twitter.com/AlexandraHocke3" target="_blank">
                AlexandraHocke3
            </a>
        </p>
        <h3>LinkedIn</h3>
        <p>
            <a href="https://www.linkedin.com/in/alexandra-hockett"
               target="_blank">
                Alexandra-hockett
            </a>
        </p>
    </div>
</div>
