@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <p>@Model.GreetingMessage, I am</p>
    <div class="wrapper">
        <div class="typing-demo"><h1>Alexandra Hockett</h1></div>
    </div>
    <h2 class="mb-5">Front-end developer based in Portugal</h2>
    <div>
        <a href="/contact.html" class="btn btn-branding" title="Contact me">Contact me</a>
    </div>
</div>
<p class="text-center m-5">Featured projects from my portfolio</p>
<div class="container">
    <div class="row mb-5">
        <div class="col d-none d-lg-block">
            <img src="https://i.ibb.co/xLNhfS4/Pub.png"
                 class="img-fluid"
                 alt="Pub project preview" />
        </div>
        <div class="col">
            <div class="project-description">
                <h2 class="mb-5">Pub Project</h2>
                <p class="mb-5 text-muted">
                    This was my first final Project for SheCodes - Basics, I've done a
                    website about pubs using HTML, CSS and Javascript.
                </p>
                <a href="https://s3.amazonaws.com/shecodesio-production/challenge_submissions/files/000/393/013/original/Final_Project_Pub.html?1624476695"
                   target="_blank"
                   class="btn btn-branding mt-3"
                   title="Launch Pub Project">
                    Launch Project
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="project-description">
                <h2 class="mb-5">Weather Project</h2>
                <p class="mb-5 text-muted">
                    This was my second final Project for SheCodes-Plus workshop was
                    built using HTML, CSS, and Vanilla Javascript.
                </p>
                <a href="https://ecstatic-varahamihira-979e64.netlify.app/"
                   target="_blank"
                   class="btn btn-branding mt-3"
                   title="Launch Weather Project">
                    Launch Project
                </a>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <img src="https://i.ibb.co/5xX4WNG/Weather-Project.png"
                 class="img-fluid"
                 alt="Wheather project preview" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col d-none d-lg-block">
            <img src="https://i.ibb.co/Xsx6WXV/portfolio.png"
                 class="img-fluid"
                 alt="Portfolio Project preview" />
        </div>
        <div class="col">
            <div class="project-description">
                <h2 class="mb-5">Responsive Portfolio</h2>
                <p class="mb-5 text-muted">
                    My third Project for SheCodes-Responsive workshop it's my
                    portfolio. It is fully responsive and was built using HTML, CSS
                    and Bootstrap.
                </p>
                <a href="https://epic-shannon-79c7da.netlify.app/"
                   target="_blank"
                   class="btn btn-branding mt-3"
                   title="Portfolio Project">
                    Launch Project
                </a>
            </div>
        </div>
    </div>
</div>