﻿@{
    ViewData["Title"] = "Certificates";
}
<div class="content-container container">
    <div class="content">
        <h1 class="mb-4">Take a look at what I've been working on!</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="https://i.ibb.co/xLNhfS4/Pub.png"
                     class="img-fluid mb-3 rounded"
                     alt="Pub project preview" />
                <h3 class="text-center m-0">Pub Project</h3>
                <p class="text-center text-muted">Built with HTML and CSS</p>
                <div class="row mt-3 mb-5 flex">
                    <div class="col-12">
                        <a href="https://s3.amazonaws.com/shecodesio-production/challenge_submissions/files/000/393/013/original/Final_Project_Pub.html?1624476695"
                           target="_blank"
                           class="btn btn-branding mt-3"
                           title="Launch Pub Project">
                            Launch Project
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <img src="https://i.ibb.co/5xX4WNG/Weather-Project.png"
                     class="img-fluid mb-3 rounded"
                     alt="Weather project preview" />
                <h3 class="text-center m-0">Weather Project</h3>
                <p class="text-center text-muted">
                    Built with HTML,CSS and JavaScript
                </p>
                <div class="row mt-3 mb-5 flex">
                    <div class="col-12">
                        <a href="https://ecstatic-varahamihira-979e64.netlify.app/"
                           target="_blank"
                           class="btn btn-branding mt-3"
                           title="Launch Weather Project">
                            Launch Project
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <img src="https://i.ibb.co/Xsx6WXV/portfolio.png"
                     class="img-fluid mb-3 rounded"
                     alt="Dictionary app preview" />
                <h3 class="text-center m-0">My Portfolio</h3>
                <p class="text-center text-muted">
                    Built with HTML, CSS and Bootstrap
                </p>
                <div class="row mt-3 mb-5 flex">
                    <div class="col-12">
                        <a href="https://epic-shannon-79c7da.netlify.app/"
                           target="_blank"
                           class="btn btn-branding mt-3"
                           title="Portfolio Project">
                            Launch Project
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <img src="https://i.ibb.co/rfktpbL/Captura-de-ecr-2024-05-17-091708.jpg"
                     class="img-fluid mb-3 rounded"
                     alt="Dictionary app preview" />
                <h3 class="text-center m-0">Dictionary</h3>
                <p class="text-center text-muted">Built with HTML,CSS and React</p>
                <div class="row mt-3 mb-5 flex">
                    <div class="col-12">
                        <a href="https://trusting-colden-46af2a.netlify.app/"
                           target="_blank"
                           class="btn btn-branding mt-3"
                           title="Dictionary App">
                            Launch Project
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

